<form>
  <div>
    <label>Staff Name</label>      
    <select class ="ml-4" id="staff">
      <option>Current = {{currentUserData.firstName}} {{currentUserData.lastName}}</option>
      <option *ngFor="let StaffMemberModel of StaffMemberModels">
        {{StaffMemberModel.firstName}} {{StaffMemberModel.lastName}}
      </option>      
    </select>
  </div>
  <div>
    <label>Task</label>
    <div>
      <textarea value={{taskScheduleData.event.title}}></textarea>
    </div>
  </div>
  <div>
    <label>Start Date</label>
    <input type="date" value={{startDateConvert}}>
  </div>  
  <div>
    <label>End Date</label>
    <input type="date" value={{endDateConvert}}>
  </div> 

  <button type="submit" class="btn btn-primary">Update</button>
  <button class="btn btn-primary">Delete</button>
</form>