.mainForm {
    width: 90%;
    height: 50%;
    margin: auto;
    position: center;    
}
    
textarea {
    width: 100%;
    height: 30px;
}

.textareaNew {
    width: 100%;
    height: 100px;
}

.centreCorrection {
    width: 90%;
    height: 50%;
}