<form id="form_create" [formGroup]="BookComplete" (ngSubmit)="Register()"> 


  <label>First Name</label>
  <div class="form-group">
    <input formControlName="firstname" type="text" class="form-control" placeholder="firstName">
  </div>


  <label>Last Name</label>
  <div class="form-group">
    <input formControlName="lastName" type="text" class="form-control" placeholder="LastName">
  </div>

  <div>
    <label>Username = {{BookComplete.value.firstname}}{{BookComplete.value.lastName}}</label>
  </div>

  <label>Password</label>
  <div class="form-group">
    <input formControlName="Password" type="password" class="form-control" placeholder="Password">
  </div>


  <div>
    <label>Admin</label>
    <input type="radio" value="Admin" formControlName="role"> 
  </div>
  
  <div>
    <label>Standard</label>
    <input type="radio" value="Standard" formControlName="role"> 
  </div>



 <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
  </div>      

  <div class="text-danger" *ngIf="getNullError()">All fields need to be filled out</div>  

      
</form>


<app-adminconsole-main-nav></app-adminconsole-main-nav>






