<label>Enabled Accounts</label>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20">Username</th>
        <th style="width: 20">Role</th>
        <th style="width: 20">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enabledAccount of enabledAccounts">
        <td>
          {{enabledAccount.username}}
        </td>
        <td>
          {{enabledAccount.roleName}}
        </td>
        <td>
          <button (click)="disableAccountButton(enabledAccount.username)">Disable</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<label>disabled Accounts</label>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20">Username</th>
        <th style="width: 20">Role</th>
        <th style="width: 20">Eligible Activation Date</th>
        <th style="width: 20">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let disabledAccount of disabledAccounts">
        <td>
          {{disabledAccount.username}}
        </td>
        <td>
          {{disabledAccount.roleName}}
        </td>
        <td>
          <div class="ml-4">
            {{disabledAccount.enableAllowDate}}
          </div>
        </td>
        <td>
          <button (click)="enableAccountButton(disabledAccount.username)">Enable</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>