<div class="centerText mb-3">
  <h1>
    Reset your Password
  </h1>
</div>

<Form id="form"[formGroup]="ResetPass" (ngSubmit)="updatePassword()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <label>Current Password</label>
        </div>
        <div>
          <label> New Password</label>
        </div>
        <div>
          <label>Confirm Password</label>
        </div>
      </div>
      <div class="col-sm">
        <div>
          <input type="Password" formControlName="currentPassword">
        </div>
        <div>
          <input type="Password" formControlName="newPassword">
        </div>
        <div>
          <input type="Password" formControlName="confirmPassword">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn btn-light btn-outline-dark">Update Password</button> 
    </div>
  </div>
</Form>



