
<Form id="form"[formGroup]="ResetPass" (ngSubmit)="updatePassword()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <label>Current Password</label>
        </div>
        <div>
          <label> New Password</label>
        </div>
        <div>
          <label>Confirm Password</label>
        </div>
      </div>
      <div class="col-sm">
        <div>
          <input type="Password" formControlName="currentPassword">
        </div>
        <div>
          <input type="Password" formControlName="newPassword">
        </div>
        <div>
          <input type="Password" formControlName="confirmPassword">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Update Password</button> 
    </div>
  </div>
</Form>



