
<Form id="form"[formGroup]="ResetPass" (ngSubmit)="updatePassword()">

  <div>
    <label>Current Password</label>
    <input type="Password" formControlName="currentPassword">
  </div>


  <div>
    <label> New Password</label>
    <input type="Password" formControlName="newPassword">
  </div>  



  <div>
    <label>Confirm Password</label>
    <input type="Password" formControlName="confirmPassword">
  </div>  

  <div>
    <button type="submit" class="btn btn-primary">Update Password</button> 
  </div>
   

</Form>

<app-help-nav></app-help-nav>



