<form id="form_Role" [formGroup]="editForm" (ngSubmit)="updateRole()">


 
  <div>
    <label>Username</label>
    <select class="ml-2" formControlName="username">
      <option *ngFor="let userMemberModel of userMemberModels"
        [value]="userMemberModel.username"> 
          {{userMemberModel.username}} 
      </option>      
   </select>
  </div>


  <div>
    <label>Admin</label>
    <input type="radio" value="Admin" formControlName="role"> 
  </div>
  
  <div>
    <label>Standard</label>
    <input type="radio" value="Standard" formControlName="role"> 
  </div>


 

  <button type="submit" class="btn btn-primary">Update</button>


</form>

<app-adminconsole-main-nav></app-adminconsole-main-nav>