<form *ngIf="loggedIn() && authorised()" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mainForm">
  <div>
      <label>Name</label>      
      <select formControlName="userId" class="ml-2">
        <option *ngFor="let UserMemberModel of UserMemberModels"
          [value]="UserMemberModel.id"> 
            {{UserMemberModel.firstName}} {{UserMemberModel.lastName}}
        </option>      
     </select>
   <label class="ml-2">Date from</label>
   <input class="ml-2" type="date" formControlName="startDate">
  
   <label class="ml-2">Date to</label>
   <input class="ml-2" type="date" formControlName="endDate"> 
   <button type="submit" class="btn btn-primary ml-2">View</button>


  </div>
  <div class="text-danger" *ngIf="getDateError()">start date cannot be greater than end date</div>
  <div class="text-danger" *ngIf="getNullError()">All fields need to be filled out</div>  


</form>

<form *ngIf="loggedIn() && !authorised()" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mainForm">
  <div>
    <label>{{currentUser.firstName}} 
      {{currentUser.lastName}}</label>

  <label class="ml-2">Date from</label>
  <input class="ml-2" type="date" formControlName="startDate">
 
  <label class="ml-2">Date to</label>
  <input class="ml-2" type="date" formControlName="endDate"> 
  <button type="submit" class="btn btn-primary ml-2">View</button>


 </div>
 <div class="text-danger" *ngIf="getDateError()">start date cannot be greater than end date</div>
 <div class="text-danger" *ngIf="getNullError()">All fields need to be filled out</div>  
</form>



<div class="mt-5 hourResult">
  <label>The user above has worked:
    <label class="timeText">
      {{hoursWorked}}
    </label> 
     hours and 
     <label class="timeText">
      {{minuteWorked}}
    </label>
      Minutes 
  </label>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style=" width: 5%">#</th>
        <th style=" width: 65%">Task</th>
        <th style=" width: 15%">Start Date & Time</th>
        <th style=" width: 15%">End Date & Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tasksFromHoursWorked of tasksFromHoursWorkeds; index as i">
        
          <th>{{i + 1}}</th>
          <td>
            {{tasksFromHoursWorked.title}}
          </td>
          <td>
            <p >Start Date = 
              {{tasksFromHoursWorked.start.slice(8, 10)}} 
              {{tasksFromHoursWorked.start.slice(5, 7)}} 
              {{tasksFromHoursWorked.start.slice(0, 4)}}           
            </p>
            <p>
              Start Time =        
              {{tasksFromHoursWorked.start.slice(11, 16)}}
            </p>  
          </td>
          <td>
            <p>End Date =
              {{tasksFromHoursWorked.end.slice(8, 10)}} 
              {{tasksFromHoursWorked.end.slice(5, 7)}} 
              {{tasksFromHoursWorked.end.slice(0, 4)}}           
            </p>
            <p>
              End Time =        
              {{tasksFromHoursWorked.end.slice(11, 16)}}
          </td>      
        </tr>
  
  
    </tbody>
  </table>
</div>










