<form *ngIf="loggedIn()" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mainForm">
  <div>
    <label>Staff Name</label>      
    <select formControlName="staffId" class="ml-2">
      <option *ngFor="let StaffMemberModel of StaffMemberModels"
        [value]="StaffMemberModel.id"> 
          {{StaffMemberModel.firstName}} {{StaffMemberModel.lastName}}
      </option>      
   </select>
  
   <label class="ml-2">Date from</label>
   <input class="ml-2" type="date" formControlName="startDate">
  
   <label class="ml-2">Date to</label>
   <input class="ml-2" type="date" formControlName="endDate"> 
   <button type="submit" class="btn btn-primary ml-2">View</button>

  </div>
  <div class="mt-5">
    <label>The staff member above has worked:
      <label class="timeText">
        {{HoursWorkedStr}}
      </label> 
       hours and 
       <label class="timeText">
        {{MinuteWorkedStr}}
      </label>
        Minutes 
    </label>
  </div>


</form>









