<mat-sidenav-container class="sidenav-container" *ngIf="loggedIn()">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a class="nav-link" [routerLink]="['/CalendarView']">Home</a>
        <a class="nav-link" [routerLink]="['/viewTasks']">viewTasks</a>
        <label>Reports</label>
        <a class="nav-link" [routerLink]="['/hoursworked']">HoursWorked</a>
        <a class="nav-link" [routerLink]="['/CustomerTask']">Tasks by {{customerType}}</a>
        <a class="nav-link" [routerLink]="['/HighPriority']">High Priority Tasks</a>
        <a class="nav-link" [routerLink]="['/NumberClosedTasksByUser']">Closed Tasks</a>
        <label>Admin Console</label>
        <a class="nav-link" [routerLink]="['/editUsername']">EditUsername</a>
        <a class="nav-link" [routerLink]="['/editRole']">editRole</a>
        <a class="nav-link" [routerLink]="['/register']">Create account</a>
        <a class="nav-link" [routerLink]="['/Password']">Password Reset</a>
        <a class="nav-link" [routerLink]="['/EnableDisableAccountComponent']">enable & disable</a>
        <label>Help</label>
        <a class="nav-link" [routerLink]="['/StandardPassword']">Reset Password</a>
        <a class="nav-link" [routerLink]="['/CustomerComponent']">{{customerType}}</a>
    </mat-nav-list>
  </mat-sidenav>

  
  <mat-sidenav-content class="mt-2">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




