<mat-sidenav-container class="sidenav-container" *ngIf="loggedIn()">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item class="links" [routerLink]="['/CalendarView']">Calendar</a>
      <a mat-list-item class="links" [routerLink]="['/viewTask']">View Tasks</a> 
      <label *ngIf="userAuthorised" class="blockquote">Reports</label>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/hoursworked']">Hours Worked</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/CustomerTask']">Tasks by {{customerType}}</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/HighPriority']">High Priority Tasks</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/NumberClosedTasksByUser']">Closed Tasks</a>
      <label *ngIf="userAuthorised" class="blockquote">Admin Console</label>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/editUsername']">Edit Username</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/editRole']">edit Role</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/register']">Create account</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/Password']">Password Reset</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/UnlockAccount']">Unlock Account</a>
      <a *ngIf="userAuthorised" mat-list-item class="links" [routerLink]="['/EnableDisableAccountComponent']">Enable & Disable</a>
      <label class="blockquote">Help</label>
      <a mat-list-item class="links" [routerLink]="['/StandardPassword']">Reset Your Password</a>
      <a mat-list-item class="links" [routerLink]="['/CustomerComponent']">{{customerType}}s</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="mt-2">    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




