<div class="mb-2" *ngIf="loggedIn()">
    <label>
        Current Schedule displayed is {{this.selectedFullName}}
    </label>

    <button class="float-right btn btn-primary" (click)="openDialogAddTask()">Add Task</button>
    <button class="float-right btn btn-secondary mr-2" type="submit" (click)="searchTaskBox()">Search</button>
    <input [formControl]="searchTask" class="float-right col-xs-2 mr-4" type="text" placeholder="Seach Task">
    
</div>

<div *ngIf="loggedIn()">
    <mat-drawer-container  class="example-container">
        <mat-drawer mode="side" opened>
            <app-sidebar (UserButtonClick)="runCalendarData($event)"></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
            <full-calendar [options]="calendarOptions"></full-calendar>
        </mat-drawer-content>
    </mat-drawer-container>
</div>



