    <div class="mb-2" *ngIf="loggedIn()">
        <div class="centerText">
            <h1>
                Calendar
            </h1>
        </div>

        <label>
            Current Schedule displayed is {{this.selectedFullName}}
        </label>
    
        <button class="float-right btn btn btn-light btn-outline-dark"(click)="openDialogAddTask()">Add Task</button>
        <button class="float-right btn btn-secondary mr-2" type="submit" (click)="searchTaskBox()">Search</button>
        <input [formControl]="searchTask" class="float-right col-xs-2 mr-2" type="text" placeholder="Seach Task">
        
    </div>

    <div *ngIf="loggedIn()">
        <mat-drawer-container  class="example-container">
            <mat-drawer mode="side" opened>
                <div class="mr-2">
                    <app-sidebar (UserButtonClick)="runCalendarData($event)"></app-sidebar>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
    




