<form *ngIf="loggedIn()" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mainForm mb-4">
  <div class="centerText mb-3">
    <h1>
        Closed Tasks
    </h1>
  </div>
  <div>
   <label class="ml-2">Date from</label>
   <input class="ml-2" type="date" formControlName="startDate">
  
   <label class="ml-2">Date to</label>
   <input class="ml-2" type="date" formControlName="endDate"> 
   <button type="submit" class="btn btn btn-light btn-outline-dark ml-2">View</button>


  </div>
  <div class="text-danger" *ngIf="getDateError()">start date cannot be greater than end date</div>

</form>

<div style="display: block;">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>


