.mainForm {
    width: 80%;
    height: 50%;
    margin: auto;
    position: center;    
    }
    
textarea {
    width: 100%;
    height: 50px;
}

.validationWarning {
    width: 50%;
    margin: 0 auto; 
}

.centreCorrection {
    width: 90%;
    height: 50%;
}


