<app-adminconsole-main-nav></app-adminconsole-main-nav>
<form id="form" [formGroup]="editForm" (ngSubmit)="UpdateUser()">

  <div>
    <label>Select UserName to update</label>
    <select class="ml-2" formControlName="currentUserName">
      <option *ngFor="let userMemberModel of userMemberModels"
        [value]="userMemberModel.username"> 
          {{userMemberModel.username}} 
      </option>      
   </select>


  </div>


  <div>
    <label>FirstName</label>
    <input type="text" formControlName="firstname">
  </div>

  <div>
    <label>LastName</label>
    <input type="text" formControlName="LastName">
  </div>


  <button type="submit" class="btn btn-primary">Update</button>


</form>


<app-adminconsole-main-nav></app-adminconsole-main-nav>

<!-- <app-sidebar></app-sidebar>


<mat-sidenav-container>
  <mat-sidenav>Sidenav</mat-sidenav>
  <mat-sidenav-content>app-editUsername</mat-sidenav-content>
  <mat-sidenav-content>app-editRole</mat-sidenav-content>
  <mat-sidenav-content>app-register</mat-sidenav-content>
</mat-sidenav-container>
 -->





