
<form id="form_username" [formGroup]="editForm" (ngSubmit)="UpdateUser()">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <label>Select Username to update</label>
        </div>
        <div>
          <label>First Name</label>
        </div>
        <div>
          <label>Last Name</label>
        </div>
      </div>
      <div class="col-sm">
        <div>
          <select formControlName="currentUsername">
            <option *ngFor="let userMemberModel of userMemberModels"
              [value]="userMemberModel.username"> 
                {{userMemberModel.username}} 
            </option>      
         </select>
        </div>
        <div>
          <input type="text" formControlName="firstname">
        </div>
        <div>
          <input type="text" formControlName="lastName">
        </div>        
      </div>
    </div>
    <div>
      <label>Username = {{editForm.value.firstname}}{{editForm.value.lastName}}</label>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>







