<app-adminconsole-main-nav></app-adminconsole-main-nav>
<form id="form_username" [formGroup]="editForm" (ngSubmit)="UpdateUser()">

  <div>
    <label>Select Username to update</label>
    <select class="ml-2" formControlName="currentUsername">
      <option *ngFor="let userMemberModel of userMemberModels"
        [value]="userMemberModel.username"> 
          {{userMemberModel.username}} 
      </option>      
   </select>
  </div>


  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstname">
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" formControlName="LastName">
  </div>


  <button type="submit" class="btn btn-primary">Update</button>


</form>


<app-adminconsole-main-nav></app-adminconsole-main-nav>





