<div class="centerText mb-3">
  <h1>
    {{customerType}}s
  </h1>
</div>

<div class="mb-4">
  <label class="blockquote">List of {{customerType}}s</label>
  <button class="float-right btn btn btn-light btn-outline-dark" (click)="addCustomer()">Add {{customerType}}</button>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10">Name</th>
        <th style="width: 20">Address</th>
        <th style="width: 60">Additional Info</th>
        <th style="width: 5">Update</th>
        <th style="width: 5">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; let i = index">
        <td>
          {{customer.name}}
        </td>
        <td>
          <div class="ml-4">
            {{customer.address}}
          </div>
        </td>
        <td>
          <div class="ml-4">
            {{customer.additionalInfo}}
          </div>
        </td>
        <td>
          <button (click)="editCustomer(customer)" class="btn btn btn-light btn-outline-dark">Edit</button>
        </td>
        <td>
          <button (click)="deleteCustomer(customer.id)" class="btn btn btn-light btn-outline-dark">Delete</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>