<Form id="form"[formGroup]="ResetPass" (ngSubmit)="updatePassword()">

  
  <div>
    <label>UserName</label>
    <input type="text" formControlName="username">
  </div>

  <!-- <div>
    <label>Select UserName to update</label>
    <select class="ml-2" formControlName="currentUserName">
      <option *ngFor="let userMemberModel of userMemberModels"
        [value]="userMemberModel.username"> 
          {{userMemberModel.username}} 
      </option>      
   </select>
  </div> -->


  <div>
    <label>New Password</label>
    <input type="Password" formControlName="newPassword">
  </div>

  <div>
    <label>Confirm Password</label>
    <input type="Password" formControlName="confirmPassword">
  </div>
  

  <button type="submit" class="btn btn-primary">Update Password</button>

</Form>

<app-adminconsole-main-nav></app-adminconsole-main-nav>


