<Form id="form"[formGroup]="ResetPass" (ngSubmit)="updatePassword()">

  
  <div>
    <label>Username</label>
    <select class="ml-2" formControlName="username">
      <option *ngFor="let userMemberModel of userMemberModels"
        [value]="userMemberModel.username"> 
          {{userMemberModel.username}} 
      </option>     
   </select>
  </div>

  <div>
    <label>New Password</label>
    <input type="Password" formControlName="newPassword">
  </div>

  <div>
    <label>Confirm Password</label>
    <input type="Password" formControlName="confirmPassword">
  </div>  
  
<div>
  <button type="submit" class="btn btn-primary">Update Password</button> 
</div>
 

</Form>




