<div class="centerText mb-3">
  <h1>
      Unlock Account
  </h1>
</div>

<div class="centerText">
  <div>
    <label>Username</label>
    <select class="ml-2" [formControl]="username">
      <option *ngFor="let userMemberModel of userMemberModels"
            [value]="userMemberModel.username"> 
              {{userMemberModel.username}}
          </option>      
   </select>
  </div>
  <div>
    <button (click)="unlockButton()" class="btn btn btn-light btn-outline-dark ml-3">Unlock Account</button> 
  </div>
</div>