<form [formGroup]="editForm" (ngSubmit)="UpdateUser()">

  <div>
    <label>CurrentuserName</label>
    <input type="text" formControlName="currentUserName">
  </div>

  <div>
    <label>FirstName</label>
    <input type="text" formControlName="firstname">
  </div>

  <div>
    <label>LastName</label>
    <input type="text" formControlName="LastName">
  </div>


  <button type="submit" class="btn btn-primary">Update</button>


</form>
<mat-drawer mode="center" opened>
  <app-editRole></app-editRole>
</mat-drawer>

