<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a class="nav-link" [routerLink]="['/editUsername']">Edit Username</a>
      <a class="nav-link" [routerLink]="['/editRole']">Edit Role</a>
      <a class="nav-link" [routerLink]="['/register']">Create User</a>
      <a class="nav-link" [routerLink]="['/Password']">Password Reset</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
