<div class="mt-1">
  <div *ngIf="canUserUpdateAndDelete()">
    <textarea [formControl]="notesInfo"></textarea>
  </div>
  <div *ngIf="!canUserUpdateAndDelete()">
    <textarea [formControl]="notesInfo" disabled></textarea> 
  </div>
  <div>
    <label> Date {{day}}/{{month}}/{{year}}</label>
    <label class="ml-3"> Time {{time}}</label>
    <label class="ml-3">Created by {{selectedName}}</label>
  </div>
  <div>
    <button *ngIf="canUserUpdateAndDelete()" (click)="putNote()" type="button" class="btn btn-primary">Update</button>
    <button *ngIf="canUserUpdateAndDelete()" (click)="deleteNote()" type="button" class="btn btn-primary">Delete</button>
  </div>
</div>


