<div *ngIf="loggedIn() && isDataAvailable">
  <div class="mb-2">
    <div class="centerText">
      <h1>
          View Task
      </h1>
  </div>
    <label>
        Current tasks shown is {{this.selectedFullName}}
    </label>
  </div>
  <mat-drawer-container  class="example-container">
      <mat-drawer mode="side" opened>
        <div class="mr-2">
          <app-sidebar (UserButtonClick)="changeUserTasks($event)" ></app-sidebar>
        </div>
      </mat-drawer>
      <mat-drawer-content>

            <div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button value="OpenTask" (click)="openTaskButton()" [disabled]="selectedbutton == 'Open Tasks'" class="btn btn-dark">Open Tasks</button>
                <button value="ClosedTask" (click)="closeTaskButton()" [disabled]="selectedbutton == 'Closed Tasks'" class="btn btn-dark">Closed Tasks</button>
                <button value="AllTask" (click)="allTaskButton()" [disabled]="selectedbutton == 'All Tasks'" class="btn btn-dark">All Tasks</button>
                <button value="HighOpen" (click)="highOpenTaskButton()" [disabled]="selectedbutton == 'High Open Tasks'" class="btn btn-dark">High Open</button>
                <button value="highClosed" (click)="highCloseTaskButton()" [disabled]="selectedbutton == 'High Closed Tasks'" class="btn btn-dark">High Closed</button>
                <button value="NormalOpen" (click)="normalOpenTaskButton()" [disabled]="selectedbutton == 'Normal Open Tasks'" class="btn btn-dark">Normal Open</button>
                <button value="NormalClosed" (click)="normalCloseTaskButton()" [disabled]="selectedbutton == 'Normal Closed Tasks'" class="btn btn-dark">Normal Closed</button>
              </div>




              <button class="float-right btn btn btn-light btn-outline-dark" (click)="openDialogAddTask()">Add Task</button>
              

              <button class="float-right btn btn-secondary mr-2" type="submit" (click)="searchTaskBox()">Search</button>
              <input [formControl]="searchTask" (keydown.enter)="searchTaskBox()" class="float-right col-xs-2 mr-4" type="text" placeholder="Seach Task">


              <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style=" width: 10%">Task Number</th>
                      <th style=" width: 45%">Title</th>
                      <th style=" width: 5%">{{customerType}}</th>
                      <th style=" width: 15%">Start Date & Time</th>
                      <th style=" width: 15%">End Date & Time</th>
                      <th style=" width: 5%">Priority</th>
                      <th style=" width: 5%">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let taskSchedule of taskScheduleData; index as i">
                      
                        <th>
                          <a class="taskId" role="button" (click)="updateDialog(taskSchedule.id)">{{taskSchedule.id}}</a>
                        </th>
                        <td>
                          {{taskSchedule.title}}
                        </td>
                        <td >
                          <p *ngIf="taskSchedule.customer == null">
                          </p> 
                          <p *ngIf="taskSchedule.customer !== null">
                            {{taskSchedule.customer.name}}
                          </p>
                        </td> 
                        <td *ngIf="taskSchedule.start !== null">
                            {{taskSchedule.start.slice(8, 10)}}/  
                            {{taskSchedule.start.slice(5, 7)}}/
                            {{taskSchedule.start.slice(0, 4)}}        
                            {{taskSchedule.start.slice(11, 16)}}    
                        <td *ngIf="taskSchedule.end !== null">
                            {{taskSchedule.end.slice(8, 10)}}/
                            {{taskSchedule.end.slice(5, 7)}}/
                            {{taskSchedule.end.slice(0, 4)}} 
                            {{taskSchedule.end.slice(11, 16)}}
                        </td>
                        <td *ngIf="taskSchedule.start === null">
                        </td>
                        <td *ngIf="taskSchedule.end === null">
                        </td> 
                        <td>
                          <p *ngIf="taskSchedule.highPriority === false">
                            Normal
                          </p>
                          <div *ngIf="taskSchedule.highPriority === true" class="bg-danger text-white">
                            <p class="ml-2">
                              High
                            </p>
                          </div>                          
                        </td>     
                        <td>
                          <p *ngIf="taskSchedule.isClosed === false">
                            Open
                          </p>
                          <p *ngIf="taskSchedule.isClosed === true">
                            Closed
                          </p>
                        </td>            
                      </tr>
                
                
                  </tbody>
                </table>
              </div>

              <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                  [boundaryLinks]="true" 
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)">  
                </pagination>
              </div>
            </div>

      </mat-drawer-content>
  </mat-drawer-container>
</div>
