#nav {
  z-index: 1000; 
}

.username {
  position: relative;
  color: white ;
  margin: auto;
  left: 75%
} 

.logo {
  position: relative;
  left: 0%;
  color: white ;
} 


.loginLogout {
  position:relative;
  margin: auto;
  color: white;

} 