<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/CalendarView']">Home 
          <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="openDialogAddTask()">Add Task</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/hoursworked']">Hours Worked</a>
      </li>

      <div *ngIf="userAuthorised">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/editUsername']">Admin Console</a>
      </li>
      </div>


      <li class="nav-item">
        <a class="nav-link" >Help</a>
      </li>
    </ul>


    <ul *ngIf="!loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">
          <span class="sr-only"></span></a>
      </li>      
    </ul>   
    
    
    <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" [formGroup]="loginReactiveForm" 
      (ngSubmit)="login()">
      <input formControlName="username" class="form-control mr-sm-2" 
        type="text" placeholder="Username" aria-label="username">
      <input formControlName="password" class="form-control mr-sm-2" 
        type="password" placeholder="Password" autocomplete="off" aria-label="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <button *ngIf="loggedIn()" class="btn btn-outline-success my-2 my-sm-0" 
      type="submit" (click)="loggedOut()" [routerLink]="['/login']">Log Out</button>
</nav>


