<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/cal']">Schedule 
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addTask']">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/updateTask']">Update</a>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff Members</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>


