#nav {
  z-index: 1000; 
}

.username {
  position: relative;
  left: 75%;
  color: white ;
} 

.logo {
  position: relative;
  left: 0%;
  color: white ;
} 


.loginLogout {
  position:relative;
  left:78%;
} 